<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="~/css/contact.css"/>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>

        <div id="middle">
            <p>Contact Me!</p>
        </div>
        <div id="bottom">
            <form id="form">
                    <p><label for="name">Name</label>
                    <input type="text" name="name" id="name"></p>

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
           
              
                    <label for="message">Message</label>
                    <input type="text" name="message" id="message">

                    <input type="submit" value="Send">

        
            </form>

        </div>

        
    </div>
    
</body>
</html>