<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>

        <div id="title">
            <h1>About Me</h1>

        </div>

        <div id="left_side">
            <img src="https://img1.looper.com/img/gallery/who-is-the-strongest-naruto-character-ever/intro-1565897681.jpg" alt="Picture of Naruto">

            <p>Naruto Uzumaki</p>
            <p>I’m not gonna run away, I never go back on my word! That’s my nindo: my ninja way.</p>
        </div>

        <div id="right_side">
            <p>To become Hokage is my dream! I don't care who I have to fight! If he rips my arms out, I'll kick him to death! If he rips my legs off, I'll bite him to death! If he rips my head off, I'll stare him to death! And if he gouges out my eyes, I'll curse him from the grave!</p>


        </div>
    </div>
    
</body>
</html>