@{
    ViewData["Title"] = "Home Page";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->

<h1>Here is a Message!</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt voluptatibus delectus voluptatem adipisci quidem ut, ad quo sequi obcaecati culpa aliquam natus iure dolor minima veniam ab, est eum laboriosam numquam architecto? Vel suscipit porro optio, assumenda impedit harum rerum consequatur quod earum, dolore nemo mollitia laborum hic eum quo esse iusto nihil nam molestiae natus dolores eveniet aliquid! Accusamus maxime quas quidem id aliquam quisquam tempore sunt libero corporis cumque, officiis illum velit ipsam illo magni reiciendis. Reprehenderit iure voluptatibus voluptatem similique necessitatibus sit inventore ab eveniet magni facere, pariatur sed porro enim eligendi ad eaque vel alias!</p>
